<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Options for President and Vice President</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
    
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
            overflow-y: auto;
            max-height: 600px; 
        }

        h1, h2 {
            text-align: center;
            padding-top: 50px;
        }
    
        .order {
            text-align: center;
            margin-bottom: 20px;
        }
    
        .order select {
            margin-left: 10px;
        }
    
        .president-options, .vp-options {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;    
        }
    
        .option {
            width: calc(20% - 20px);
            margin-bottom: 20px;
            background-color: #4caf50;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            text-align: center;
            color: white;
        }

        .option:hover {
            background-color: #45a049;
            cursor: pointer;
        }

        .option.selected {
            background-color: #075225;
        }
    
        .option-image img {
            max-width: 100%;
            height: auto;
        }
      
        .buttons {
            text-align: center;
            margin-top: 20px;
        }
    
        .buttons button {
            padding: 10px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: #fff;
        }
    
        .buttons button:focus {
            outline: none;
        }
    
        .buttons button:hover {
            background-color: #45a049;
        }

        .buttons button.selected:hover {
            background-color: #075225;
        }
    
        .write-in button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
            margin-right: 150px; /* Add margin between buttons */
        }
    
        .write-in button:focus {
            outline: none;
        }
    
        .write-in button:hover {
            background-color: #45a049; /* Changing background color on hover */
        }

        write-in {
            display: flex;
            justify-content: center; /* Center the elements horizontally */
            margin-top: 20px;
        }

        .description-box {
            margin-top: 10px;
        }

        .description-box label {
            display: block;
            margin-bottom: 5px;
        }

        .description-box input[type="text"] {
            width: 40%; 
            margin-bottom: 10px; 
        }
    </style>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to <%= name %></h1>
        <% for (const office in officesData) { %>
            <h2>Voting options for <%= office %></h2>
            <div class="<%= office === 'President' ? 'president-options' : 'vp-options' %>">
                <% officesData[office].forEach(candidate => { %>
                    <div class="option" onclick="toggleSelection(this)">
                        <% if(candidate.photo) { %>
                            <div class="option-image">
                                <img src="data:image/jpeg;base64,<%= candidate.photo.toString('base64') %>" alt="Photo of <%= candidate.name %>">
                            </div>
                        <% } %>
                        <!-- Display candidate name -->
                        <div class="option-name"><%= candidate.name %></div>
                    </div>
                <% }) %>
            </div>
            <!-- President write-in and buttons -->

            <div class="write-in">
                <button class="write-in-fname" onclick="handleWriteInClick()">Write-in</button>
                <div class="description-box" id="firstNameBox" style="display: none;">
                    <label for="writeInText">Enter Candidate First Name:</label>
                    <input type="text" id="writeInText" name="firstName">
                    <label for="writeInText">Enter Candidate Last Name:</label>
                    <input type="text" id="writeInText" name="lastName">
                </div>
            </div>
            

            <div class="buttons">
                <button class="option" onclick="toggleSelection(this)">No Votes</button>
            </div>            
        <% } %>
        <button type="button" onclick="submitVotes()" class="buttons">Submit Votes</button>
    </div>

    <script>   
        // Variable to track if write-in is active and input box is not empty
        var writeInActive = false;

        // Function to handle selecting option
        function toggleSelection(option) {
            // Check if write-in is active and input box is not empty
            if (writeInActive && document.getElementById('writeInTextPresident').value.trim() !== '') {
                alert("Please clear the write-in text before voting for a candidate.");
                return;
            }

            // Check if write-in input box is active and contains text after selecting a candidate
            if (writeInActive && writeInInput === document.activeElement && option.classList.contains('selected')) {
                alert("Unselect voting option before entering candidate name.");
                return;
            }

            var allOptions = option.parentElement.querySelectorAll('.option');
            allOptions.forEach(function(opt) {
                if (opt !== option) {
                    opt.classList.remove('selected');
                }
            });

            // If "No Votes" button is selected, deselect all candidate options
            if (option.classList.contains('option') && option.innerText === "No Votes") {
                allOptions.forEach(function(opt) {
                    opt.classList.remove('selected');
                });
            } else {
                // If a candidate option is selected, ensure "No Votes" button is deselected
                var noVotesButton = option.parentElement.parentElement.querySelector('.buttons .option');
                noVotesButton.classList.remove('selected');
            }

            option.classList.toggle('selected');

            // Disable "No Votes" button if any candidate is selected
            var noVotesButton = option.parentElement.parentElement.querySelector('.buttons .option');
            var anyOptionSelected = option.parentElement.querySelector('.option.selected');
            if (anyOptionSelected && noVotesButton.innerText === "No Votes") {
                noVotesButton.disabled = true;
            } else {
                noVotesButton.disabled = false;
            }

        }

        // Function to handle write-in button click for President
        function handleWriteInClick() {
            var firstNameBox = document.getElementById('firstNameBox');
            var selectedOption = document.querySelector('.president-options .option.selected');

            // Toggle the visibility of the text box
            if (firstNameBox.style.display === 'none') {
                firstNameBox.style.display = 'block';
                writeInActive = true;
            } else {
                firstNameBox.style.display = 'none';
                writeInActive = false;
            }

            // Deselect the previously selected option, if any
            if (selectedOption) {
                selectedOption.classList.remove('selected');
            }
        }

        // Function to check if token in localstorage
        function checkTokenLocalStorage() {
            if (!localStorage.getItem('token')) {
                // Redirect to login page if token doesn't exist in localStorage
                window.location.href = '/';
            }
        }
        function logout() {
            localStorage.removeItem('token');
            // Redirect to login page after logout
            window.location.href = '/';
        }
        // Function to handle the pageshow event
        function handlePageShow(event) {
            if (event.persisted) {
                // If the page is shown from the cache (e.g., when navigating back),
                // check if the token is still in local storage
                checkTokenLocalStorage();
            }
        }

        // Add event listener for the pageshow event
        window.addEventListener('pageshow', handlePageShow);
    </script>
    
</body>
</html>